.news-title {
    font-size: 20px;
    font-weight: bold;
}
.news-description p {
    font-size: 16px;
}

.news-chip {
    font-size: 16px;
}

.news-image {
    padding: 24px 0px 0px 24px;
    width: 250px;
    object-fit: fill;
}